Expense Dashboard.json
{
  "name": "Expense Dashboard",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea09a493-9741-4837-90e8-0563f344f96b",
              "name": "Date",
              "value": "={{ $json.Date.toDateTime()}}",
              "type": "string"
            },
            {
              "id": "99ac3286-3707-4568-96b1-f5ae8bb549b1",
              "name": "Category",
              "value": "={{ $json.Category.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "f8877e0e-c731-4e6b-acf6-16c78c1cb539",
              "name": "Description",
              "value": "={{ $json.Description.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "16f3b965-47fc-46b2-b877-d0507b85920a",
              "name": "Amount",
              "value": "={{ parseInt($json.Amount) }}",
              "type": "string"
            },
            {
              "id": "70369e20-fe85-4a67-8ce9-b212a4a19113",
              "name": "Payment_Method",
              "value": "={{ $json[\"Payment_Method\"].trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "6686c6f2-3314-4ac0-a01b-fde16cf56db4",
              "name": "Mood",
              "value": "={{ $json.Mood ? $json.Mood.trim().toLowerCase() : \"unknown\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        0
      ],
      "id": "8e4ae83a-f8ee-4d9b-98e4-d7030d4149b0",
      "name": "Cleaning Format",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea09a493-9741-4837-90e8-0563f344f96b",
              "name": "Date",
              "value": "={{ new Date($json.Date).toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        0
      ],
      "id": "cc2cc749-f2a3-4ebd-aef0-adc4d0779dd3",
      "name": "Convert DateTime to YYYY-MM-DD"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA",
          "mode": "list",
          "cachedResultName": "First Project#1_Automation Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        0
      ],
      "id": "c5cb35ae-6dea-4ad8-b9cf-13553e29778a",
      "name": "Update Row - Steps 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vZu4RCUq2VHAOsyM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA",
          "mode": "list",
          "cachedResultName": "First Project#1_Automation Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        0
      ],
      "id": "57f1c907-6c85-4ce3-9026-bda1e6221863",
      "name": "Update Row - Steps 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vZu4RCUq2VHAOsyM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2bc690e5-5030-4ecd-b39b-634c053be9d9",
              "leftValue": "={{ $json.Amount.toNumber()}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1056,
        0
      ],
      "id": "8e7f366c-1b90-415e-82f9-a116ea7a4d85",
      "name": "Amount > 0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c838d48f-cd24-4099-8c54-265ba7e3b39a",
              "leftValue": "={{ $json.Category }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1bde46ef-6b88-4fed-ae0d-3b07b6e85a7e",
              "leftValue": "={{ $json.Description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5d732833-4a5c-472b-984c-5b1d8fe0af4b",
              "leftValue": "={{ $json.Payment_Method }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1232,
        0
      ],
      "id": "d41c51b7-a327-42a5-88d7-49fd9ba7091e",
      "name": "Not Empty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c838d48f-cd24-4099-8c54-265ba7e3b39a",
              "leftValue": "={{ $json.Mood }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1408,
        0
      ],
      "id": "9b51f3e8-752f-4510-9e3c-eb7806210cc3",
      "name": "Does not contain \"unknown\""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA",
          "mode": "list",
          "cachedResultName": "First Project#1_Automation Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 232655794,
          "mode": "list",
          "cachedResultName": "Cleaned_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit#gid=232655794"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        0
      ],
      "id": "9c08e45b-4cdd-45d9-9cda-d91e7979aeca",
      "name": "Append to Cleaned_Data sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vZu4RCUq2VHAOsyM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA",
          "mode": "list",
          "cachedResultName": "Expense Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGhMRQGWnxdecq0F4E7g_4-REdpb-CHO7VTnBwA82iA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        0
      ],
      "id": "c02900f6-e956-4f85-8253-1ca8d00aa487",
      "name": "Get row(s) in Data sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vZu4RCUq2VHAOsyM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "expense",
          "mode": "list",
          "cachedResultName": "expense"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        0
      ],
      "id": "bb3678e2-1d6c-4e5c-a57f-a28e17d2a246",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "6Oe9YCoCXrNNYCHE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        0
      ],
      "id": "bf2f8856-b96b-4d03-8ca0-2150a772e316",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "expense",
          "mode": "list",
          "cachedResultName": "expense"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2192,
        0
      ],
      "id": "435742cb-a8dd-451d-9dc3-c67b0aa0b57b",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "6Oe9YCoCXrNNYCHE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "188a8adb-9fe5-46bc-bd17-13ccdda03002",
              "name": "created_at",
              "value": "={{ new Date().toLocaleString('sv-SE', { timeZone: 'Asia/Jakarta' }).replace(' ', 'T') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        0
      ],
      "id": "465e5d34-96a4-4441-ba2a-b3955a25abd7",
      "name": "Created At Timestamp"
    }
  ],
  "pinData": {},
  "connections": {
    "Cleaning Format": {
      "main": [
        [
          {
            "node": "Update Row - Steps 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DateTime to YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "Update Row - Steps 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row - Steps 2": {
      "main": [
        [
          {
            "node": "Amount > 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row - Steps 1": {
      "main": [
        [
          {
            "node": "Convert DateTime to YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amount > 0": {
      "main": [
        [
          {
            "node": "Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Empty": {
      "main": [
        [
          {
            "node": "Does not contain \"unknown\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does not contain \"unknown\"": {
      "main": [
        [
          {
            "node": "Append to Cleaned_Data sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data sheets": {
      "main": [
        [
          {
            "node": "Cleaning Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Cleaned_Data sheets": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Created At Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in Data sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Created At Timestamp": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb9a19fd-69e4-4a17-9658-db5a6d80a808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd4277c6b186ef88cb38fc373752d9ea3091bba9eebe68264736bbbb3165567d"
  },
  "id": "L5BnBeuEQY095fBQ",
  "tags": []
}
